@import url(./fonts.css);

:root {
  --linkHover: #ED8E00;
  --hoverBtn: #F18128;
  --btnColor: #040D1F;
  --title: #F18128;
  --body: #040D1F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
}

body {
  font-family: 'Comfortaa';
  background: var(--body);
}

.btn {
  width: 166px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 75%;
  transition: 500ms linear;
  background: var(--hoverBtn);
  box-shadow: 5px 5px 10px 0 var(--btnColor);
  color: #000;
}

.btn:hover {
  color: #FFF;
  background: var(--btnColor);
  box-shadow: 5px 5px 10px 0 var(--hoverBtn);
}

.container {
  max-width: 1143px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.menu {
  width: 50px;
  height: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.menu span {
  display: block;
  width: 100%;
  height: 8px;
  background: white;
  transition: 500ms linear;
  border-radius: 3px;
}

.menu:hover span {
  background: var(--linkHover);
}

.menu:focus span {
  background: var(--linkHover);
}

.menu:focus span:nth-child(2) {
  transform: rotate(-45deg);
  background: transparent;
}

.menu:focus span:nth-child(1) {
  transform:
    rotate(45deg) translateY(-16px) translateY(25px) translateX(31px) translateX(-22px);
}

.menu:focus span:nth-child(3) {
  transform:
    rotate(-45deg) translateY(16px) translateY(-25px) translateX(31px) translateX(-22px);
}

.ads {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  column-gap: 24px;
  background: linear-gradient(90deg, #3800AF 20%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
}

.ads span {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  max-width: 166px;
  width: 100%;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
}

.header__nav {
  background: rgba(1, 3, 5, 0.80);
  backdrop-filter: blur(7.5px);
}

.header__nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  column-gap: 5px;
}

.header__logo span {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}

.header__list {
  display: flex;
  column-gap: 18px;
}

.header__link {
  display: block;
  padding: 42px 6px;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: capitalize;
  transition: 500ms linear;
  position: relative;
}

.header__link:hover {
  color: var(--linkHover);
}

.header__link::after {
  transition: 500ms;
  content: '';
  display: block;
  height: 2px;
  background: var(--linkHover);
  border-radius: 23px 23px 0px 0px;
  position: absolute;
  bottom: 0;
  width: 0;
  left: 50%;
}

.header__link:hover::after {
  width: 100%;
  left: 0;
}

.banner {
  height: 100vh;
  position: relative;
  display: flex;
}

.banner::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background: rgba(7, 15, 25, 0.75);
  z-index: -1;
}

.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
}

.banner__title {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 64px;
  font-weight: 700;
  line-height: 65px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.banner__desc {
  color: #C8C8C8;
  text-align: justify;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 570px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 50px;
}

.banner__btns {
  display: flex;
  column-gap: 30px;
}

.films {
  padding: 60px 0 78px;
}

.films:hover .films__title::after {
  width: 100%;
}

.films__title {
  color: var(--title);
  font-size: 36px;
  font-weight: 400;
  line-height: 32px;
  text-transform: capitalize;
  padding-bottom: 12px;
  position: relative;
  margin-bottom: 55px;
  display: inline-block;
}

.films__title::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--title);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 500ms linear;
  border-radius: 23px 23px 0px 0px;
}

.films__cards {
  display: flex;
  justify-content: space-between;
}

.films__item {
  max-width: 255px;
  width: 100%;
  border-radius: 6px;
  padding: 54px 15px 19px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.films__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
}

.films__item:hover .films__time {
  transform: scale(0);
}

.films__item:hover .films__icon {
  transform: rotateX(180deg) scale(1.5) translateY(-10px);
}

.films__item:hover .films__img {
  transform: scale(1.2);
}

.films__img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: 500ms;
}

.films__icon {
  margin-bottom: 12px;
  transition: 500ms;
}

.films__time {
  border-radius: 9px;
  border: 1px solid #FFF;
  background: rgba(7, 15, 25, 0.20);
  padding: 7px 28px;
  margin-bottom: 31px;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  transition: 500ms linear;
}

.films__item-title {
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.films__desc {
  color: #FFF;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}